html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  color: black;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: black;
}


a {
  color: black;
}

a:hover {
  color: grey;
}

li {
  line-height: 34px;
}

.blockquote {
  padding: 10%;
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 10px;
}

.blockquote {
  background-color: white;
  padding: 5%;
  font-size: 1.4rem;
}

.btn {
  background-color: purple;
  color:white;
}

.btn:hover {
  color: #eee;
  background-color: #333333;
}

.fa-lg {
  font-size: 1.6rem;
}

.card-body {
}

.text-center {
  padding: 5%;
}

.card {
  padding: 0px;
  border: 0px;
}

.card-header {
  padding: 20px;
}

.card-body {
  padding: 20px;
}

.card-header {
  font-size: 1.8rem;
}

.lead {
  text-align: left;
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}

.parallax-window {
  min-height: relative;
  background: transparent;
  padding: 50px;
}

.container-fluid {
  vertical-align: middle;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.well {
  width: 300px;
  padding: 50px;
}

#typewriter {
  padding:100px;
  text-align: center;
  font-size: 48px;
}