html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  color: black;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: black;
}

h3 {
  font-size: 22px;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

li {
  line-height: 34px;
}

div {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

cite {
  font-style: normal;
  font-size: 18px;
}

.portfolio img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.row {
  padding: 10px;
}

.container{
    padding:5%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:16px;
    font-style: none;
}

.blockquote {
  padding: 10%;
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 10px;
}

.blockquote {
  background-color: white;
  padding: 5%;
  font-size: 1.4rem;
}

.btn {
  background-color: purple;
  color:white;
  margin: 5%;
}

.btn:hover {
  color: #eee;
  background-color: #333333;
}

.btn:active {
  background-color: #A78DB0;
}

.fa-lg {
  font-size: 1.6rem;
}

.card-body {
}

.text-center {
  padding: 2%;
}

.card {
  padding: 0px;
  border: 0px;
}

.card-header {
  padding: 20px;
}

.card-body {
  padding: 20px;
}

.card-header {
  font-size: 1.8rem;
}

.feature {
  width: 700px;
  margin: auto;
}

.lead {
  text-align: justify;
  font-size: 18px;
}

ul {
  text-align: justify;
  font-size: 18px;
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}

.parallax-window {
  min-height: relative;
  background: transparent;
  padding: 50px;
}

.container-fluid {
  vertical-align: middle;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



.well {
  width: 300px;
  padding: 50px;
}

#typewriter {
  padding:100px;
  text-align: center;
  font-size: 48px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 50px;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 50%;
  height: 50%;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}